In [1]:
import pandas as pd
import numpy as np 
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle as pkl

In [3]:
# Load the pickles 
model = load_model('./my_model.keras')

with open('LabelEncoder_gender.pkl','rb') as file:
    le_gender = pkl.load(file)
    
with open('onh_geo.pkl','rb') as file:
    onh_geo = pkl.load(file)
    
with open('scaler.pkl','rb') as file:
    sc = pkl.load(file)

In [5]:
input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [6]:
input_data

{'CreditScore': 600,
 'Geography': 'France',
 'Gender': 'Male',
 'Age': 40,
 'Tenure': 3,
 'Balance': 60000,
 'NumOfProducts': 2,
 'HasCrCard': 1,
 'IsActiveMember': 1,
 'EstimatedSalary': 50000}

In [68]:
input_df = pd.DataFrame([input_data])

In [69]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [73]:
geo_encoded = onh_geo.transform([[input_data['Geography']]]).toarray()
geo_df = pd.DataFrame(geo_encoded,columns=onh_geo.get_feature_names_out())

c:\Users\Yash Chauhan\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [79]:
df = pd.concat([input_df.drop('Geography',axis=1),geo_df],axis=1)

In [80]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [ ]:
df['Gender'] = le_gender.transform(df['Gender'])

In [83]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [85]:
test = sc.transform(df)

In [89]:
model.predict(test)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step

array([[0.03415878]], dtype=float32)